{
    email your-email@example.com
}

{$DOMAIN_NAME} {
    # Serve Frontend (Static Files)
    root * /srv
    encode gzip
    try_files {path} /index.html
    file_server

    # Proxy API requests to Backend
    handle_path /api/* {
        reverse_proxy app:8080
    }
}
